.remove-padding{
  padding: 0;
}

nav{
  background-color: #96c5fd;
}

.logo-wrapper{
  width: 80px;
  height: 80px;
}

.nav-logo{
  width: 100%;
}

.content-wrapper{
  margin: 10px auto;
}

.image-wrapper {
  height: 550px;
  width: 600px;
  display: inline-block;
  position: relative;
  background-color: rgba(0,0,0,.12);
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card-wrapper{
  height: 640px;
}

.form-contents{
  margin: 120px auto;
}

.rating-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.rating-full-width {
  width: 100%;
}

.rating-wrapper{
  margin: 30px auto;
}

.rating-label{
  margin: 13px 13px 13px 0;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: black;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: black;
}

mat-slider {
  width: 300px;
}

.error-message{
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  display: none;
}

.comment-btn{
  margin: 30px auto;
}

.comments{
  max-height:605px;
  overflow-y:auto;
}

.link{
  color: black;
}

.comment-wrapper{
  border-top: solid 1px #d4d4d4;
  padding: 5px;
  font-size: 12px;
}

.comments-info{
  float: left;
  margin: 10px 0;
  width: 200px;
}

.commented-image{
  border-radius: 50%;
  float: left;
  width: 70px;
  height: 70px;
  margin: 15px;
}

.comment-date{
  font-size: 8px;
  float: left;
}

