<div class="main-page">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 banner">
          <app-banner></app-banner>
        </div>
        <div class="col-7 forms">
          <div class="row">
            <div class="col-12">
              <mat-tab-group>
                <mat-tab label="Login">
                  <div class="form-content">
                    <app-login></app-login>
                  </div>
                </mat-tab>
                <mat-tab label="Registration">
                  <div class="form-content">
                    <app-registration></app-registration>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
