.main-page{
  height: 100%;
  background-image: url("../../../assets/background-images/landing-page-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #171723;
  width: 40%;
  display: flex;
}

.forms{
  background-color: white;
  height: 400px;
}
