.image-wrapper {
  height: 650px;
  width: 650px;
  display: inline-block;
  position: relative;
  background-color: rgba(0,0,0,.12);
}

.image-wrapper img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.image-wrapper span {
  font-family: arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  font-size: 12px;
}

.rating-wrapper{
  min-width: 470px;
  max-width: 470px;
  width: 100%;
}

.comment-wrapper{
  min-width: 470px;
  max-width: 470px;
  width: 100%;
  margin: 20px auto;
  max-height:500px;
  overflow-y:auto;
}

p{
  cursor: default;
  width: 100%;
}

p strong{
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.rating-bar{
  margin: 10px auto;
}

.comment-desc{
  border-bottom: solid 1px #d4d4d4;
}

.comment-info{
  font-size: 12px;
}

.date-info{
  font-size: 8px;
}

.func-button{
  float: right;
  margin: 10px;
}
