<div class="main-page">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 banner">
          <app-banner></app-banner>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <mat-tab-group>
                <mat-tab label="Login"> Content 1 </mat-tab>
                <mat-tab label="Registration"> Content 2 </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
